body {
    margin: 0%;
    font-family: 'Poppins', serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 15px;
}

h2 {
    font-size: 15px;
    font-weight: 300;
}

.First-section {
    display: flex;
    padding-left: 200px;
    padding-bottom: 30px;
}

#top-padding {
    padding-top: 80px;
}

#border-slice {
    border-left: 4px solid #FF5959;
    line-height: 60px;

}

.orange-color {
    color: #FFAD5A;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 60%;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    font-weight: 500;
    padding: 8px 30px;
    border-radius: 5px;
}

.title-centre {
    text-align: center;
}

.second-section {
    margin-bottom: -30px;
}

.third-section {
    display: flex;
    padding: 100px;

}

.boxes img {
    width: 30%;
}

.boxes h1 {
    font-size: 30px;
}

.boxes p {
    font-weight: 200;
}

#mission {
    background-color: whitesmoke;
    border-radius: 30px;
    padding: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

#vision {
    background-color: seashell;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
}

#goal {
    background-color: papayawhip;
    border-radius: 30px;
    padding: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.fourth-section {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: 110px;
    background-position-y: 50px;
    margin-bottom: 50px;
}

.fourth-section h1 {
    font-size: 40px;
    font-weight: 900;
    padding-left: 0%;
}

.fourth-section p {
    font-weight: 300;
    padding-bottom: 10px;
}

#left-image {
    width: 70%;
}

#left-div {
    width: 100%;

}

#right-div {
    width: 100%;
}